.logo {
    display: flex;
    flex-direction: column;
    color: white;
}

.logo__text {
    font-family: Amatic SC;
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 0.1em;
}

.logo__arrows {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", 'Inter', "Helvetica Neue", sans-serif;
    font-size: 24px;
    font-weight: bold;
}
