.logo {
    display: flex;
    flex-direction: column;
    color: white;
}

.logo__text {
    font-family: Amatic SC;
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 0.1em;
}

.logo__arrows {
    font-size: 24px;
    font-weight: bold;
}
