.story__background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.story__bg-clouds {
    z-index: -2;
    position: absolute;
    width: 100vw;
    height: 1100px;
    object-fit: cover;
}

.story__mg-mountains {
    z-index: -2;
    position: absolute;
    width: 100vw;
    top: 53%;
    min-height: 500px;
    object-fit: cover;
}

.story__fg-hill {
    z-index: -1;
    position: absolute;
    width: 100vw;
    top: 48%;
    min-height: 800px;
    object-fit: cover;
}

.story__gradient-top {
    z-index: -2;
    position: absolute;
    width: 100vw;
    height: 600px;
    background-image: linear-gradient(165deg, rgba(19, 48, 43, 0.59) 0%, rgba(108, 108, 108, 0) 63.25%);
}
