.story-entry {
    padding: 0 240px;
}

.story-entry .content {
    display: flex;
    flex-direction: column;
}

.story-entry__day {
    opacity: 0.1;
    font-family: var(--font-primary);
    font-size: 240px;
    font-weight: bold;
    margin-bottom: -54px;
}

.story-entry__subtitle {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 24px;
}

.subtitle__line {
    width: 72px;
    height: 2px;
    background-color: var(--font-color-secondary);
}

.subtitle__text {
    font-family: var(--font-primary);
    letter-spacing: 0.1em;
    color: var(--font-color-secondary);
    text-transform: uppercase;
    font-size: 18px;
    font-weight: bold;
}

.story-entry__title {
    font-family: var(--font-secondary);
    font-size: 64px;
    padding: 16px 0;
}

.story-entry__description {
    font-family: var(--font-primary);
    font-size: 18px;
    font-weight: bold;
    line-height: 1.78;
}

.story-entry__link {
    font-family: var(--font-primary);
    color: var(--font-color-secondary);
    font-weight: bold;
    padding-top: 32px;
    font-size: 18px;
}

@media screen and (min-width: 1200px) {
}

@media screen and (max-width: 1200px) {
}

@media screen and (max-width: 600px) {
}
