.story-header {
    display: flex;
    flex-direction: column;
    position: fixed;
    gap: 24px;
    z-index: 0;
    padding-top: 24px;
    left: 50%;
}

.story-header__title {
    text-transform: capitalize;
    font-family: var(--font-secondary);
}

.story-header__subtitle {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.story-header__line {
    height: 2px;
    background-color: var(--font-color-secondary);
}

.story-header__subtitle__text {
    color: var(--font-color-secondary);
    text-transform: uppercase;
    font-family: var(--font-primary);
    font-weight: bold;
    letter-spacing: 0.1em;
}

.story-header__link {
    font-family: var(--font-primary);
    font-size: 18px;
    display: flex;
    flex-direction: row;
    gap: 8px;
    width: fit-content;
    font-weight: bold;
}

/* Responsiveness */

@media screen and (min-width: 1200px) {
    .story-header{
        max-width: 1000px;
        margin-left: -500px; /* Half of the width */
    }
    .story-header__title {
        font-size: 88px;
    }
    .story-header__subtitle__text {
        font-size: 18px;
    }
    .story-header__line {
        width: 72px;
    }
    .story-header__subtitle {
        gap: 32px;
    }
}

@media screen and (max-width: 1200px) {
    .story-header{
        max-width: 680px;
        margin-left: -340px; /* Half of the width */
    }
    .story-header__title {
        font-size: 60px;
    }
    .story-header__subtitle__text {
        font-size: 14px;
    }
    .story-header__line {
        width: 48px;
    }
    .story-header__subtitle {
        gap: 24px;
    }
}

@media screen and (max-width: 600px) {
    .story-header{
        max-width: 320px;
        margin-left: -160px; /* Half of the width */
    }
    .story-header__title {
        font-size: 34px;
    }
    .story-header__subtitle__text {
        font-size: 12px;
    }
    .story-header__line {
        width: 32px;
    }
    .story-header__subtitle {
        gap: 16px;
    }
}
