.story-entry {
    z-index: inherit;
    display: flex;
    flex-direction: row;
}

.story-entry--right {
    flex-direction: row-reverse;
}

.story-entry__content {
    display: flex;
    flex-direction: column;
}

.story-entry__day {
    opacity: 0.1;
    /* TODO add different font family for counter */
    font-family: sans-serif;
    font-size: 220px;
    font-weight: bolder;
    margin-bottom: -135px;
    margin-left: -100px;
    letter-spacing: -0.05em;
}

.story-entry__subtitle {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 24px;
}

.subtitle__line {
    width: 72px;
    height: 2px;
    background-color: var(--font-color-secondary);
}

.subtitle__text {
    font-family: var(--font-primary);
    letter-spacing: 0.1em;
    color: var(--font-color-secondary);
    text-transform: uppercase;
    font-size: 18px;
    font-weight: bold;
}

.story-entry__title {
    font-family: var(--font-secondary);
    font-size: 72px;
    font-weight: bold;
    padding: 16px 0;
}

.story-entry__description {
    font-size: 18px;
    font-weight: bold;
}

.story-entry__link {
    font-family: var(--font-primary);
    color: var(--font-color-secondary);
    font-weight: bold;
    padding-top: 32px;
    font-size: 18px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}

@media screen and (min-width: 1200px) {
    .story-entry {
        padding: 0 140px;
        gap: 160px;
    }
    .story-entry__image {
        width: 450px;
        height: 600px;
    }
    .story-entry__title {
        font-size: 72px;
    }
}

@media screen and (max-width: 1200px) {
    .story-entry {
        gap: 24px;
        flex-wrap: wrap;
    }
    .story-entry__image {
        width: 450px;
        height: 600px;
    }
    .story-entry__title {
        font-size: 48px;
    }
}

@media screen and (max-width: 600px) {
    .story-entry {
        gap: 24px;
        flex-wrap: wrap;
    }
    .story-entry__image {
        width: 300px;
        height: 500px;
    }
    .story-entry__title {
        font-size: 32px;
    }
}
