.navbar {
    text-transform: uppercase;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 24px;
}

.navbar__icon {
    align-items: flex-start;
    color: white;
    float: right;
}
