.navbar {
    text-transform: uppercase;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 24px;
    padding: 48px 72px;
}

.navbar__icon {
    color: white;
    float: right;
    padding: 48px 48px;
}
