html {
    background-color: var(--color-bg);
    font-size: 100%;
    color: var(--font-color-primary);
}

body, #root, html, .app {
    height: 100%;
}

a {
    text-decoration: none;
    color: unset;
}

a:hover {
    color: var(--font-color-secondary);
}

.app {
    display: flex;
    height: 100vh;
    flex-direction: column;
}

.main-content {
    flex: 1;
}

@media screen and (min-width: 1200px) {
    .main-content {
        padding: 0 48px;
    }
}

@media screen and (max-width: 1200px) {
    .main-content {
        padding: 0 32px;
    }
}

@media screen and (max-width: 600px) {
    .main-content {
        padding: 0 16px;
    }
}
