.footer {
    background-color: black;
    margin-top: 100px;
    position: relative;
    bottom: 0;
    font-family: var(--font-primary);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 48px;
    padding-top: 24px;
    padding-bottom: 16px;
}

.footer__top {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

.footer__bottom {
    display: flex;
    flex-direction: row;
    gap: 16px;
}
